Package: Pynar
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 400000
Maintainer: Türkçe Python Editörü Geliştirme Projesi
Depends: zenity, fonts-noto-color-emoji, zenity-common
Description: Pynar Python Editörü
